/* mulit columns in a row */

.row{

	/* background: yellow; */

	@mixin clearfix;

	@mixin atMedium{

		&__medium-4{
			float: left;
			width: 33.33%;
		}

		&__medium-4--larger{
			float:left;
			width:35%;
		}

		&__medium-6{
			float: left;
			width: 50%;
		}

		&__medium-8{
			float: left;
			width: 66.66%;
		}

		&__medium-8--smaller{
			float:left;
			width: 65%;
			padding-right: 45px;
		}
	}

	@mixin atLarge{

		&__large-4{
			float: left;
			width: 33.33%;
		}

		&__large-4--larger{
			float:left;
			width:35%;
		}

		&__large-6{
			float: left;
			width: 50%;
		}

		&__large-8{
			float: left;
			width: 66.66%;
		}

		&__large-8--smaller{
			float:left;
			width: 65%;
		}
	}

	&__b-margin-until-medium{
		margin-bottom: 25px;

		@mixin atSmall{
			margin-bottom: 0px;
		}
	}

	&__gutters {
		margin-right: -65px;
	}

	&__gutters-small{
		margin-right: -45px;
	}

	&__gutters-large{
		margin-right: -100px;
	}

	&__gutters > div {
		padding-right: 65px;
		
	}

	&__gutters > div {
		padding-right: 45px;
	}

	&__gutters > div:last-child{
		padding-right: 65px;
	}

	&__gutters-large > div{
		padding-right: 100px;
		
	}

	&__t-padding{
		padding-top: 80px;
	}

	/* begin equal height rules */
	&__equal-height-at-medium{
		@mixin atMedium{
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}

	&__equal-height-at-large{
		@mixin atLarge{
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}